<main
  *ngIf="apiResponse$ | async as  apiResponse"
  class="p-6 lg:py-20 lg:px-12 flex max-md:flex-col gap-6 align-items-center h-full md:justify-between  lg:gap-12 mx-auto"
>
  <section class="hidden md:block md:w-2/5 lg:1/5">
    <app-sidebar></app-sidebar>
  </section>

  <section class="flex flex-col gap-6 align-items-center md:w-4/5 lg:w-2/5">
    <app-category-selector class="flex justify-center align-items-center mt-6 md:hidden">
    </app-category-selector>

    <header *ngIf="activeUser$ | async as activeUser else logInBlock" class="flex justify-between">
      <span routerLink="/profile" class="shadow flex gap-2 justify-center items-center font-primary bg bg-secondary rounded p-4 hover:cursor-pointer hover:bg-secondary-hover transition duration-300">
        <p>Logged in as <strong>{{activeUser.name}}</strong></p>
        <img [src]="'/profile-images/' + activeUser.profile_image | getDownloadURL" alt="profile-image" class="h-8 w-8 rounded-full"/>
      </span>
    <button routerLink="/logout" class="shadow p-4 bg-secondary rounded hover:bg-secondary-hover transition duration-300"><img src="assets/img/icons/logout_black_24dp.svg" alt="Logout"/></button>
    </header>
      <ng-template #logInBlock><a routerLink="/sign-in" class=" mr-auto py-2 px-4 bg-accent text-secondary rounded hover:bg-accent-hover transition duration-300">Log In!</a></ng-template>

    <header class="font-primary text-bold text-lg text-center"><h1>{{apiResponse.count}} Posts</h1></header>

    <app-question *ngFor="let question of apiResponse.data" [question]="question"
      class="bg-secondary flex p-4 rounded max-h-1/4 cursor-pointer hover:bg-secondary-hover transition duration-300">
    </app-question>
    <span class="flex w-full items-center justify-center gap-6">
      <button (click)="changePage('prev')" [disabled]="hasPage(apiResponse.prev_cursor)" class="p-4 bg-[#DAE0FF] disabled:bg-none rounded"><img src="assets/img/icons/arrow.png" alt="previous" class="h-4 w-4" /></button>
      <button (click)="changePage('next')" [disabled]="hasPage(apiResponse.next_cursor)" class="p-4 bg-[#DAE0FF] disabled:bg-none rounded"><img src="assets/img/icons/arrow.png" alt="next" class="h-4 w-4 rotate-180" /></button>
    </span>
    <a routerLink="/editor" class=" lg:hidden fixed bottom-10 right-6 p-2 w-20 h-20 rounded-full bg-[#4361EE]">
      <img src="assets/img/icons/plus-button.svg" alt="Ask Question"/>
    </a>
  </section>

  <section class="hidden lg:block lg:w-1/5 flex flex-col justify-center">
    <header *ngIf="activeUser$ | async" class="flex justify-end items-center mb-2">
    </header>
    <a routerLink="/editor" class="flex justify-center text-center py-4 w-full bg-accent text-secondary font-secondary font-medium rounded mb-16 hover:bg-accent-hover transition duration-300">+ Create new Question</a>
    <app-users-ranking></app-users-ranking>
  </section>
</main>
