<article class="flex flex-col gap-4 bg-secondary rounded p-6 min-h-1/4">
  <header class="flex items-center gap-4">
    <img
      [src]="'/profile-images/' + answer.profile_image | getDownloadURL"
      [alt]="answer.name"
    />
    <h1 class="font-primary font-light">{{ answer.name }}</h1>
    <span *ngIf="activeUser && activeUser.id === answer.user_id" class="flex gap-2">
      <button (click)="showEditor()"><img src="assets/img/icons/edit_FILL1_wght400_GRAD0_opsz48.svg" class="h-8 w-8" alt="edit"/></button>
      <button (click)="onDelete()"><img src="assets/img/icons/delete_FILL1_wght400_GRAD0_opsz48.svg" class="h-8 w-8" alt="delete"/></button>
    </span>
  </header>

  <div *ngIf="!editMode else editBlock" [innerHTML]="answer.content | markdownPipe" class=" font-primary font-normal"></div>
  <ng-template #editBlock>
    <app-answer-writer [action]="'edit'" [answer]="answer"></app-answer-writer>
  </ng-template>
</article>

