h2
  font-family: 'Inter', sans-serif
  font-size: 1rem

h1
  font-family: 'Raleway', sans-serif
  font-size: 1.25rem

.question-content
  color: #9b9b9b
  font-family: 'Inter', sans-serif
  font-size: 1rem
  font-weight: 200
