<main *ngIf="question$ | async as question" class="flex flex-col p-8 gap-10 lg:w-1/2 lg:m-auto">
  <section class="flex flex-col gap-10">
    <article *ngIf="question" class="flex flex-col bg-secondary rounded p-6 gap-6">
      <ng-container *ngIf="!editMode else editor">
      <header class="flex gap-4">
        <h1 class="text-2xl">{{question.title}}</h1>
        <span *ngIf="activeUser$ | async as activeUser" class="flex gap-2">
            <ng-container *ngIf="activeUser.id === question.user_id">
              <button (click)="onEdit()">Edit</button>
              <button (click)="showAlert()">Delete</button>
            </ng-container>
        </span>
      </header>
      <div [innerHTML]="question.content | markdownPipe" class="bg-secondary"></div>
      </ng-container>

      <ng-template #editor>
        <app-editor-writer (closeEditor)="onEdit()" [action]="'edit'" [question]="question"></app-editor-writer>
      </ng-template>
    </article>

    <article class="bg-secondary rounded p-6">
      <app-answer-writer *ngIf="activeUser$ | async else loginReminder"></app-answer-writer>
      <ng-template #loginReminder><span><p>You need to be logged to post answers</p><a routerLink="/login">Log In!</a></span></ng-template>
    </article>
  </section>

  <section class="flex flex-col gap-10">
    <ng-container *ngIf="answers$ | async as answers">
      <app-answer-reader *ngFor="let answer of answers" [answer]="answer" [activeUser]="activeUser$ | async"></app-answer-reader>
    </ng-container>
  </section>

  <article *ngIf="deleteAlert" class="flex justify-center items-center px-4 col bg-[#000000]/25 font-primary absolute inset-0">
    <div class=" flex flex-col gap-8 bg-secondary rounded p-8">
      <h1 class="font-medium text-3xl">Are you sure you want to Delete  the Question?</h1>
      <span class="flex gap-4">
        <button (click)="onDelete(question.id)" class="border-accent p-4">Yes</button>
        <button (click)="showAlert()" class=" rounded p-4 text-secondary bg-accent">No</button>
      </span>
    </div>
  </article>
</main>


