<main
  *ngIf="questions"
  class="p-20 flex max-lg:flex-col gap-6 align-items-center h-full lg:justify-between w-full"
>
  <section class="hidden md:block w-1/5">
    <app-sidebar></app-sidebar>
  </section>

  <section class="flex flex-col gap-6 align-items-center w-2/5">
    <app-category-selector
      (setCategoryEvent)="onSetCategory($event)"
      class="flex justify-center align-items-center mt-6 md:hidden"
    >
    </app-category-selector>
    <app-question
      *ngFor="let question of questions"
      [question]="question"
      class="bg-secondary flex p-4 rounded h-1/5"
    ></app-question>
    <a (click)="loadMore()">Load More!</a>
    <a
      routerLink="/editor"
      class="fixed bottom-10 right-6 p-2 w-20 h-20 rounded-full bg-[#4361EE]"
      ><img
        [src]="'/icons/plus-button.svg' | getDownloadURL"
        alt="Ask Question"
    /></a>
  </section>
  <section class="hidden lg:block w-1/5">

  </section>
</main>
